<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.examonline.dao.SelectQuestionsDao" >
  <resultMap id="BaseResultMap" type="com.qf.examonline.entity.SelectQuestions" >
  <id column="sq_id" property="sqId" jdbcType="INTEGER" />
  <result column="question_type" property="questionType" jdbcType="INTEGER" />
  <result column="paper_type" property="paperType" jdbcType="INTEGER" />
  <result column="sq_desc" property="sqDesc" jdbcType="LONGVARCHAR" />
  <result column="select_a" property="selectA" jdbcType="LONGVARCHAR" />
  <result column="select_b" property="selectB" jdbcType="LONGVARCHAR" />
  <result column="select_c" property="selectC" jdbcType="LONGVARCHAR" />
  <result column="select_d" property="selectD" jdbcType="LONGVARCHAR" />
  <result column="select_answer" property="selectAnswer" jdbcType="LONGVARCHAR" />
</resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_select_questions
    where sq_id = #{sqId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qf.examonline.entity.SelectQuestions" >
    insert into t_select_questions ( sq_desc, select_a,
      select_b, select_c, select_d,select_answer,question_type,paper_type)
    values
    <foreach collection="list" item="item" index="index" separator="," >
      ( #{item.sqDesc,jdbcType=LONGVARCHAR}, #{item.selectA,jdbcType=LONGVARCHAR},
      #{item.selectB,jdbcType=LONGVARCHAR}, #{item.selectC,jdbcType=LONGVARCHAR}, #{item.selectD,jdbcType=LONGVARCHAR},
      #{item.selectAnswer,jdbcType=LONGVARCHAR},1,#{item.paperType,jdbcType=INTEGER})
    </foreach>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.qf.examonline.entity.SelectQuestions" >
    update t_select_questions
    set sq_desc = #{sqDesc,jdbcType=LONGVARCHAR},
      select_a = #{selectA,jdbcType=LONGVARCHAR},
      select_b = #{selectB,jdbcType=LONGVARCHAR},
      select_c = #{selectC,jdbcType=LONGVARCHAR},
      select_d = #{selectD,jdbcType=LONGVARCHAR},
      select_answer = #{selectD,jdbcType=LONGVARCHAR}
    where sq_id = #{sqId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select sq_id, question_type, paper_type, sq_desc, select_a, select_b, select_c, select_d,
    select_answer
    from t_select_questions
    where sq_id = #{sqId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select sq_id, question_type, paper_type, sq_desc, select_a, select_b, select_c, select_d,
    select_answer
    from t_select_questions
  </select>
</mapper>