<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.examonline.dao.UserAnswersDao" >
  <resultMap id="BaseResultMap" type="com.qf.examonline.entity.UserAnswers" >
    <id column="cid" property="cid" jdbcType="INTEGER" />
    <result column="c_question_type" property="cQuestionType" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="paper_id" property="paperId" jdbcType="INTEGER" />
    <result column="c_question_id" property="cQuestionId" jdbcType="INTEGER" />
    <result column="c_answer" property="cAnswer" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user_answers
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qf.examonline.entity.UserAnswers" >
    insert into t_user_answers (c_question_type, uid,
      paper_id,c_question_id,
      c_answer)
    values
    <foreach collection="list" item="item" index="index" separator="," >
      ( #{item.cQuestionType,jdbcType=INTEGER}, #{item.uid,jdbcType=INTEGER},
      #{item.paperId,jdbcType=INTEGER},#{item.cQuestionId,jdbcType=INTEGER},
      #{item.cAnswer,jdbcType=LONGVARCHAR})
    </foreach>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.qf.examonline.entity.UserAnswers" >
    update t_user_answers
    set c_question_type = #{cQuestionType,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      paper_id = #{paperId,jdbcType=INTEGER},
      c_question_id = #{cQuestionId,jdbcType=INTEGER},
      c_answer = #{cAnswer,jdbcType=LONGVARCHAR}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select cid, c_question_type, uid, paper_id,c_question_id, c_answer
    from t_user_answers
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select cid, c_question_type, uid, paper_id,c_question_id, c_answer
    from t_user_answers
  </select>


</mapper>